h1{
    color: yellow; 
    font-size: 40px;
    
}
h2{
    color: violet;
    font-size: 25px;
}
p{
    font-style:italic;
}
ol{
    color: lightcoral;
    list-style-position: inside;
}
ul{
    color: greenyellow;
    list-style-position: inside;
}
